@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
        <div>
            @Html.DropDownList("Hava Durumu", new SelectList(Model, "Sehir", "Sehir"), "Şehir Seçin", new { @Sehir = "Sehir" })
        </div>
        <div>
            <input type="submit" value="Filtrele" />
        </div>
        
        }
        <input type="button" value="Filtreleri Kaldır" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />
        @model IEnumerable<HavaDurumuApi2.Models.Data>
        <table class="table">
            <tr>
                <td>ID</td>
                <td>Şehir</td>
                <td>Derece</td>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayTextFor(m => item.ID)</td>
                    <td>@Html.DisplayTextFor(m => item.Sehir)</td>
                    <td>@Html.DisplayTextFor(m => item.Derece)</td>
                </tr>
            }
        </table>
        <input type="button" value="Hava Durumu Ekle" onclick="@("window.location.href='" + @Url.Action("Index", "Add") + "'");" />
    }
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
            <input type="text" class="form-control" name="ID", id="ID" />
            <input type="submit" value="Arama yap" />
    }


 </div>
